/* Control styles
-------------------------------------------- */

.carousel {
    position: relative;
}

.carousel input {
    position: absolute;
    left: 0;
    z-index: 3;
    margin: 0;
}

/* Insérer du texte au tout début */
.carousel input:before {
    position: absolute;
    content: "<";
}

/* Insérer du texte sur l'élément de type input, au tout début et applique ça sur tout les input qui se trouvent après lui et viennent du même élement parent*/
input:checked~input:before {
    content: ">";
}

/* 
Applique les propriétés si l'élément est checked (coché) ;
Cache tout les inputs cochés en l'occurence
*/
input:checked {
    display: none;
}

/* Applique les propriétés suivantes sur tout les input qui suivent l'input cochée et sont dans le meme élément parent */
input:checked~input {
    right: 0;
    left: auto;
}

/* Applique les propriétés si l'élément se trouve juste après input et div et s'ils viennent tout 2 du même parent, input -> div -> input */
input:checked + div + input {
    z-index: 4;
}

/* Applique les propriétés seulement s'il l'élément se trouve après juste input et qu'ils viennet du même élément parent, input -> div */
input + div {
    position: absolute;
    z-index: 1;
}

input:checked+div {
    z-index: 2;
}


/* Demo styles
  --------------------------------------------  */


.carousel {
    width: 600px;
    height: 350px;
    margin: 2em auto;
    overflow: hidden;
    transform: translateZ(0px);
    /* stops flickering incode pen*/
    box-shadow: 0 0 2px 1px #ccc;
}

.carousel input {
    top: 150px;
    width: 60px;
    height: 60px;
    left: 10px;
}

input:checked~input {
    right: 10px;
}

.carousel input:before {
    background: #888;
    border-radius: 50%;
    color: #fff;
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 5px solid #fff;
}


/* Effet de transition */
#karrouss input+div {
    transition: opacity 0s 1s;
    opacity: 0;
}

#karrouss input:checked+div {
    transition: opacity 1s;
    opacity: 1;
}