.navbar {
    /*background-image: url("../img/image.webp");*/
    height: 80px;
    align-content: center;
    align-items: center;
    box-shadow: 0px 0px 6px black;
    background-color: white;
}

.navbar .navbar-nav {
    align-content: center;
    align-items: center;
    margin: auto;
}

#imagee
{
    text-align: center;
}

#Texte
{  
    font-size: 25px ;
    color: white;
    text-align: center ;
    margin-bottom: 75px;
}

#Titre
{
   font-size: 50px ;
   color: white;
   text-align: center ;
   margin-bottom: 75px;
}

#sous-titre2
{
    color: white;
    font-size: 20px;
    font-family: 'Liberation-Serif';
    text-align: left;
    margin-left: 20px;
    margin-top: 50px;   
}

#sous-titre
{
    color: white;
    font-size: 35px;
    font-family: 'Liberation-Serif';
    text-align: left;
    margin-left: 20px   
}

#équipe img
{
    padding-left: 10px;   
}

#sous-Texte
{
    color: white;
    font-size: 20px;
    font-family: 'Liberation-Serif';
    text-align: left;
    margin-left: 20px;
    margin-top: 50px; 
}

row
{
    border: white;
}