@import url(https://allfont.net/allfont.css?fonts=liberation-serif);


body {
    font-family: 'Liberation Serif', arial;
}

section {
    padding-top: 10px;
    padding-bottom: 10px;
}




/* Touche a la section 1 */
#section1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#karrouss {
    border: 2px solid rgba(170, 50, 220, .6);
}

#part1 {
    text-align: center;
    width: 100%;
}

#part2 {
    padding-top: 5%;
    text-align: center;
    width: 40%;
}


/* END SECTION 1 */


/* SECTION 3 */
#section3 {
    
    text-align: center;
}


/* END SECTION 3 */



/* SECTION 4  */
#section4 {
    text-align: center;
    background-color: #bd9d71;
    padding-top: 30px;
    padding-bottom: 30px;
}

#section4 .colonneproduit {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#section4 .colonneproduit img {
    width: 40%;
}

#section4 .colonneproduit p a {
    list-style: none;
    text-decoration: none;
    font-family: 'Liberation Serif', arial;
}

#croquette {
    width: 20%;
}

#gamelle {
    width: 69% !important;
}

#dentifrice {
    width: 40% !important;
}
/* END SECTION 4 */


footer {
    margin-top: 0.01cm;
}