@import url(https://allfont.net/allfont.css?fonts=liberation-serif);


body {
    padding: 0;
    margin: 0;
    margin: auto;
}

html {
    margin: 0;
    padding: 0;
}

.navimg {

    justify-content: center;
    
    display: flex;
    flex-direction: row;

    padding-bottom: 5%;
    padding-top: 5%;

    text-align: center;


    background-image: url("../img/navimage.png") !important;
}

#toplogo {
    width: 10%;
    z-index: 1;
}

#toptext {
    z-index: 1;
    font-family: 'Liberation Serif', arial;
    font-size: 60px;
    color: white;
}

nav {
    padding-bottom: 3px;

    margin: 0;

    background-color: rgb(70, 70, 173);
    text-align: center;
}

nav ul {
    position: sticky;
    top: 1px;



    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    display: inline-block;
}

nav ul li {
    text-align: center;
    margin: auto; /*Center nav elements*/
    float: left;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 8px;
    padding-bottom: 8px;
}


nav ul li a {
    display: block;


    text-align: center;
    color: #dbb785;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Liberation Serif', arial;

}



nav ul li a:hover:not(.active) {
    animation: hoveraselected 5s infinite alternate;
    border-bottom: 1px solid;
}


nav ul li a.active {
    color: #24bb2c;
}



nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}


@keyframes hoveraselected {
    0% {
        color: #dbb785;
    }
    30% {
        color: #cc9242;
    }
    60% {
        color: #dbb785;
    }
    90% {
        color: #cc9242;
    }
    100% {
        color: #dbb785;
    }
}

/** Footer Position / Spacing & Padding */
.container {
    margin-left: 6%;
    margin-right: 6%;
}

footer {
    margin-top: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(22, 21, 21);
}

.footercol {
    padding-left: 2%;
    padding-right: 2%;
}

.footeremptycol {
    padding-left: 20%;
    padding-right: 20%;
}

.footertext {
    border-bottom: 1px solid white;
    display: flex;
}
/**   END  **/


.foottext {
    text-align: center;
    width: 100%;
    padding-bottom: 30px;
}

.foottext ul {
    text-align: center;
    margin: auto;
    
}

.foottext ul li {
    width: auto;
    list-style: none;

}

.footertext ul li:not(:last-child){
    margin-bottom: 13px;
}

.foottext ul li a {
    margin: auto;
    text-align: center;
    
    text-decoration: none;
    color: white;
}

.copyright {
    text-align: center;
    color: white;
}