@import url('https://fonts.googleapis.com/css2?family=Puppies+Play&display=swap');

body {
    font-family: 'Liberation Serif';
}

#navimg {
    width: 100%;
    height: auto;
    overflow: hidden;
}


nav {
    background-color: #663b1e;
}

nav ul {
    position: sticky;

    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    list-style: none;
}

nav ul li {
    text-align: center;
    float: none;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

nav ul li:nth-child(3){
    padding-left: 20px;
    padding-right: 20px;
}

nav ul li a {
    text-align: center;
    color: #bd9d71;
    text-decoration: none;
}

.boutique {
    background-color: #bd9d71;
}

.image {
    width: 40%;
}
