
body {
    margin: auto;
}

.preventiontext {
    display: flex;
    flex-direction: column;
    background-color: #bd9d71;
    padding-bottom: 70px;
    justify-content: center;
}

#Titre
{
   font-size: 50px ;
   color: white;
   text-align: center ;
   margin-bottom: 75px;
   border-bottom: solid;
}

#Texte
{  
    margin: auto;
    width: 60%;
    font-size: 25px ;
    color: rgb(64, 44, 155);
    text-align: center;
    margin-bottom: 75px;
}

#imagee {
    width: 60%;
    margin-top: 60px;
    border: 3px solid rgb(38, 25, 95);
    box-shadow: 7px 7px 2px black;
}


footer {
    margin-top: 0 !important;
}


