@import url('https://fonts.googleapis.com/css2?family=Puppies+Play&display=swap');

body {
    margin: auto;
    font-family: 'Liberation Serif';
}

.container {
    width: auto;
    margin-top: 50px;
    margin-left: 5% !important;
    margin-right: 5% !important;
}

.produit {
    border: .001cm solid cornflowerblue;
    padding-left: 5px;
    padding-right: 5px;
}

.produit img {
    width: 60%;
}

.bouttonacheter {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.bouttonacheter:hover {
    background-color: rgba(255, 0, 0, 1);
}

.bouttonacheter:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}


/* Convertir en Texte Majuscule tout les paragraphes qui se trouvent dans la class produit  se trouvant dans un container */
div[class*="container"] .produit p {
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}


/* Configuration Individuel des éléments */




.container1 {
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    box-shadow: 5px 5px 5px red;
    background-color: #dbb785;
    border-radius: 10px;
}

.container2 {
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    box-shadow: 5px 5px 5px coral;
    background-color: #dbb785;
    border-radius: 10px;
}

.container3 {
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    box-shadow: 5px 5px 5px yellowgreen;
    background-color: #dbb785;
    border-radius: 10px;
}


.listeproduithorizontale1 {
    display: flex;
    text-align: center;
    justify-content: center;
}

.listeproduithorizontale2 {
    display: flex;
    text-align: center;
    justify-content: center;
}

.listeproduithorizontale3 {
    display: flex;
    text-align: center;
    justify-content: center;

    width: 100%;
    
}

/* Specific Elements Properties */

.container3 .listeproduithorizontale3 .produit:nth-child(3) .img {
    width: 90% !important;
} 